
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil" alt="Foto de Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy una estudiante de Ciencia de Datos e Inteligencia Artificial en el Instituto Superior de Enseñanza Técnica, poseo conocimientos en el Stack MEAN, mi nivel de Inglés es intermedio, busco mi primer experiencia laboral en el mundo IT, soy una persona muy responsable, deseo seguir formándome académicamente y creo que la experiencia laboral formará mejor mi perfil como profesional.</p>
        </span>
    </div>
